:root {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}





/*------------------------------------*\
  #CARD
\*------------------------------------*/

.card__container {
  flex: 1;
  height: 375px;
  max-width: 628px;
  max-height: 375px;
  -webkit-perspective: 1000;
  position: relative;
  
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transition: transform .5s;
}
.card:hover {
  -webkit-transform: rotateX(15deg);
}
.card__input:checked ~ .card {
  -webkit-transform: rotateX(180deg);
}
.card__input {
  display: none;
}
.figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-front {
  border-radius: 2px;
  padding: 24px;
  box-sizing: border-box;
}
.card-back {
  background: url('//dl.dropboxusercontent.com/s/y17ctujoaa32wzi/scare-image.jpg?raw=1') no-repeat;
  background-size: cover;
  background-position: bottom;
  -webkit-transform: rotateX(180deg);
}





/*------------------------------------*\
  #CARD-FRONT
\*------------------------------------*/
.name {
  display: inline-block;
  margin: 0;
  font-size: 48px;
  font-weight: 300;
  color: rgba(255, 255, 255, .87);
}
.icon--rotate {
  color: rgba(255, 255, 255, .87);
  float: right;
}
@media screen and (max-width: 400px) {
  .icon--rotate {
    display: none;
  }
}
.title {
  margin: 6px 0 24px;
  color: rgba(255, 255, 255, .7);
  font-size: 15px;
  font-weight: 300;
}
.description {
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
}
.address {
  
}
.email {
  font-size: 13px;
  color: #7048a8;
  text-decoration: none;
}
.website {
  font-size: 13px;
  color: #7048a8;
  text-decoration: none;
  
}
.img--background {
  background: url('//dl.dropboxusercontent.com/s/sl0em1lpflgjwfc/bg2.png?raw=1') no-repeat;
  width: 100%;
  height: 100%;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.branding {
  display: flex;
  align-items: center;
}
.footer__about {
  margin-left: 10px;
}
.footer__name {
  font-size: 14px;
  color: rgba(255, 255, 255, .87);
  margin: 0 0 2px;;
}
.footer__source {
  font-size: 14px;
  color: #7048a8;
  margin: 0;
}
.footer__via {
  color: rgba(255, 255, 255, .60);
}
.social-icons {
  margin: 10px 60px 10px 0;
  flex: none;
}
.icon--social {
  padding-left: 12px;
}
.icon--facebook {
  padding-left: 0;
}

