/*------------------------------------*\
  #APP-BAR
\*------------------------------------*/

.app-bar {
  width: 100%;
  height: 56px; /* mobile portrait */
  top: 0; 
  z-index: 4;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
  /* used to keep content below app bar */
  .app-bar__spacer {
    height: 56px;
    width: 100%
  }
  .app-bar__title,
  .app-bar__title--back {
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 14px; /* 18px original */
    margin-right: -4px;
  }
  .app-bar__subheading {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 24px;
    margin-left: 24px;
    text-align: center;
    display: none;
  }
.buttons-inline--left {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  }
.buttons-inline--right {
  display: flex;
  margin-right: 10px;
}
/* shrink app bar height in mobile landscape orientation */
@media screen and (max-width: 960px) and (orientation: landscape) {
  .app-bar {
    height: 48px;
  }
}
/* increase app-bar height on tablet and desktop */
@media screen and (min-width: 600px) {
  .app-bar {
    height: 64px;
  }
  .app-bar__spacer {
    height: 64px;
  }
}
/* display subheading on desktop */
@media screen and (min-width: 1228px) {
  .app-bar__subheading {
    display: initial;
  }
}





/*------------------------------------*\
  #BASIC-SEARCH-INPUT
\*------------------------------------*/

.search-input {
  flex: 1;
	-webkit-appearance: none;
	border-style: none;
	font-size: 16px;
	background: none; /* use .search background */
	height: 48px;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
}
.search--focus {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  border: none;
}
/* reset input outline on focus */
.search-input:focus {
  outline: none;
}
.search-input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.search-input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.search-input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
/* disable search cancel button */
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}




/*------------------------------------*\
  #APP-BAR-SEARCH-INPUT-STYLE
\*------------------------------------*/

.search {
	width: 640px;
  margin: 0 12px 0 0;
	border-radius: 3px;
	display: none; /* hide on mobile */
}
.search__icon {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
}

/* default app bar state hides back button & text */
.btn--back,
.app-bar__title--back {
  display: none;
}
/* display search bar on desktop, hide search button */
@media screen and (min-width: 1228px) {
  .search {
    display: flex;
  }
  .btn--search {
    display: none;
  }
}
 /* remove search margin on table & desktop */
@media screen and (min-width: 600px) {
  .search {
    margin: 0;
  }
}





/*------------------------------------*\
  #APP-BAR-SEARCH-STATE
\*------------------------------------*/

/* style search bar in search state */
.app-bar--search .search {
  background-color: transparent;
  border: 1px solid #cfd8dc;
  display: flex;
}
/* display back button when searching */
.app-bar--search .btn--back {
  display: inline-block;
}
/* hide when searching */
.app-bar--search .btn--menu,
.app-bar--search .app-bar__title,
.app-bar--search .app-bar__subheading,
.app-bar--search .search__icon,
.app-bar--search .btn--profile,
.app-bar--search .btn--notifications,
.app-bar--search .btn--search,
.content.is-hidden {
  display: none;
}
/* display search icon on tablet and desktop */
@media screen and (min-width: 600px) {
  .app-bar--search .search__icon {
    display: flex;
  }
}
/* Show back text on desktop */
@media screen and (min-width: 1228px) {
  .app-bar--search .app-bar__title--back {
    display: inline;
  }
}




/*------------------------------------*\
  #CENTERING THE APP BAR 
\*------------------------------------*/

/* smooth out responsive transition between mobile & desktop */
.app-bar--search.app-bar {
  justify-content: flex-start;
}
/* optional margin spacer to center search */
.app-bar__subheading--margin-right {
  margin-right: 48px;
}
@media screen and (min-width: 773px) {
  /* smoothly transition back to centering search bar */
  .app-bar--search.app-bar {
    justify-content: space-between;
  }
  .app-bar--search .btn--profile {
    display: initial;
    visibility: hidden;
  }
}
@media screen and (min-width: 1228px) {
  /* display btn--profile on desktop */
  .app-bar--search .btn--profile {
    visibility: visible;
  }
  /* display btn--notifications on desktop */
  .app-bar--search .btn--notifications {
    display: initial;
  }
  /* keep subheading hidden for centering on desktop */
  .app-bar--search .app-bar__subheading {
    display: initial;
    visibility: hidden;
  }
  /* add right side margin on desktop (any state) */
  .search__margin-spacer--right {
    margin-left: 183.34px;
  }

}





/*------------------------------------*\
  #APP-BAR-SEARCH-STATE-COLOR-CHANGE (not using now)
\*------------------------------------*/

/* app bar search state color */
/*.app-bar--search {
  background-color: var(--app-bar--search);
}*/
/* edit state not currently used */
/*.app-bar--edit {
  background-color: var(--app-bar--edit);
}*/
/* used to change the color of text & icons in search state - not used */
/*.app-bar--search .material-icons {
  color: var(--app-bar--search_icons)
};*/






