.tabs-background {
  background-color: #fafafa;
}
.tab-bar {
  display: flex;
  height: 48px;
  background-color: #f5f5f5;
  box-shadow: 1px 3px 3px -1px rgba(0, 0, 0, .2);
/*   overflow: hidden; */
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.tab-bar::-webkit-scrollbar {
  display: none;
}
.tabs {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  height: 48px;
  color: rgba(0, 0, 0, .54);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.tab__input {
  position: absolute;
  left: -10000px;
}
.tab__label {
  min-width: 72px;
  flex-basis: 160px;
  padding: 0 12px;
  line-height: 48px;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.panels {
}
.panel-heading {
  width: 105px;
  margin: 36px auto;
  color: rgba(0, 0, 0, .54);
}
.panel {
  display: none;
  height: 75px;
}
#tab--1:focus ~ .tab-bar .tab--1,
#tab--2:focus ~ .tab-bar .tab--2,
#tab--3:focus ~ .tab-bar .tab--3,
#tab--4:focus ~ .tab-bar .tab--4 {
  border-bottom: 2px solid #8bc34a;
  color: #8bc34a;
}
#tab--1:checked ~ .panels .pannel--1,
#tab--2:checked ~ .panels .pannel--2,
#tab--3:checked ~ .panels .pannel--3,
#tab--4:checked ~ .panels .pannel--4 {
  display: block;
}